<% include partials/header %>
<div class="container" style="width: 50%; margin: 150px auto;">
	<h1 class="jumbotron">Welcome to YelpCamp</h1>
	<a class="btn btn-primary btn-lg " style=" margin-left:200px; " href="/campgrounds">Go to CampGrounds</a>
</div>
<% include partials/footer %>
